{% extends 'base.html' %}

{% block content %}
    <h1 class="skeleton-heading">About Us</h1>
        <div class="p-4 justify-content-center">
            <p>
                Welcome to Best Cars, 
                home to the best cars in North America. 
                We sell domestic and imported cars at reasonable prices.
            </p>
            </br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque metus ipsum, 
                sodales non dapibus sit amet, maximus id felis. Phasellus at luctus ante. 
                Aenean quis maximus enim. Etiam pretium fermentum bibendum. Maecenas blandit varius tortor vel porttitor. 
                Suspendisse eros tortor, molestie quis pellentesque et, sodales sed metus. Donec porttitor odio nec fermentum porttitor.
                 Nullam volutpat urna eget leo dignissim laoreet. Vivamus sodales sapien nec blandit lacinia.
                  Praesent condimentum tincidunt pharetra. Sed pharetra turpis a arcu euismod commodo eget nec ex. Proin risus leo, ultrices eget tempor ac, efficitur in justo. Nullam id tincidunt orci, ac finibus dolor.

                Curabitur diam lectus, molestie ut nisl eget, mattis interdum lacus. 
                Maecenas sed tincidunt nisl. Donec non luctus mi. Suspendisse facilisis ultrices magna et ullamcorper.
                 Fusce non ligula ut ex posuere tincidunt id vitae urna. Nullam quis nisi vitae metus euismod pretium at vitae urna. Nam elit mauris,
                  interdum non eleifend ac, tempor sit amet velit.
            </p>
            </br>
            <p><a style="color:black; font-weight: bold;" href="{% url 'djangoapp:contact' %}">Get in touch with us today!</a></p>
    </div>    
{% endblock %}